<!DOCTYPE html>
<html>
    <head>
        <title>Links</title>
        <style>
            div{
                width: screen;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
            a:link{
                color: white;
            }
            a:hover{
                color: blue;
            }
            a:active:visited{
                color: blueviolet;
            }
        </style>
    </head>
    <body>
        <div style="background-color: lightgreen;">
            <a href="https://www.qu.edu.sa/" target="_blank">Go to QU website (open in a new tab)</a>
        </div>
        <div style="background-color: gray;">
            <a href="https://www.qu.edu.sa/">Go to QU website (open in the same tab)</a>
        </div>
        <div style="background-color: black;">
            <a href="https://www.qu.edu.sa/">Go to QU website (open in the same tab)</a>
        </div>
    </body>
</html>